In [1]:
#import imperative to make pandas and numpy_finanacial libraries available
import pandas as pd
import numpy_financial as np
#location of budget csv file
path = "./budget_data.csv"

In [2]:
#initiate csv as a variable
df= pd.read_csv(path)

In [3]:
# displays stored csv
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [8]:
#Check no repeated month in list
df['Date'].duplicated().sum()

#Determine Total Month
total_months = len(df['Date'])
total = df['Profit/Losses'].sum()

#Create changes column
df['Changes'] = ''
difference_list = []
difference_list.insert(0,0)
def get_difference_column(df_in):
    i = 0
    while i < (len(df['Date'])-1):
        current_difference = (df['Profit/Losses'][i+1]) - (df['Profit/Losses'][i])
        difference_list.append(current_difference)
        i += 1

get_difference_column(df)
df['Changes'] = difference_list

#Get average of changes
avg = "{:.2f}".format((df['Changes'].sum())/(len(df['Changes'])-1))

#Get greatest increase/decrease in profits
inc = df['Changes'].max()
dec = df['Changes'].min()

#Get index of months
inc_month = df[df['Changes']==inc].index.values
dec_month = df[df['Changes']==dec].index.values

#Get months
increase_month = list(df['Date'][inc_month])
decrease_month = list(df['Date'][dec_month])

print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Average Change: ${avg}")
print(f"Greatest increase in profits: {increase_month[0]} ${inc}")
print(f"Greatest decrease in earnings: {decrease_month[0]} ${dec}")

#Retrun data to csv file
df.to_csv('budget_data_with_changes.csv', index=False)

Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest increase in profits: Feb-2012 $1926159
Greatest decrease in earnings: Sep-2013 $-2196167

In [5]:
df

        Date  Profit/Losses  Changes
0   Jan-2010         867884        0
1   Feb-2010         984655   116771
2   Mar-2010         322013  -662642
3   Apr-2010         -69417  -391430
4   May-2010         310503   379920
..       ...            ...      ...
81  Oct-2016         102685  -665765
82  Nov-2016         795914   693229
83  Dec-2016          60988  -734926
84  Jan-2017         138230    77242
85  Feb-2017         671099   532869

[86 rows x 3 columns]